*.xml
*.xml
ReverseWorksInString/.idea/workspace.xml
ReverseWorksInString/.idea/workspace.xml
PartitionList/.idea/description.html
*.iml
*.html
*.class
*.xml
ReverseWorksInString/.idea/workspace.xml
ReverseWorksInString/.idea/workspace.xml